/* Section: how-it-work-section
 * ========================================================================== */
.how-it-work {
  padding: 30px 0;
}
@media screen and (min-width: 992px) {
  .how-it-work {
    padding: 100px 0;
  }
}
.how-it-work .container {
  max-width: 900px;
}
.how-it-work h2 {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .how-it-work h2 {
    margin-bottom: 80px;
  }
}
.how-it-work .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .how-it-work .row {
    flex-wrap: nowrap;
    gap: 100px;
  }
}
.how-it-work .row .col {
  flex: 0 0 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .how-it-work .row .col {
    flex: 0 0 calc(25% - 75px);
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.how-it-work .row .col-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
}
.how-it-work .row .col-icon img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.how-it-work .row .col-content strong {
  display: flex;
  margin-bottom: 10px;
}
.how-it-work .bottom {
  margin-top: 50px;
  text-align: center;
}

/* Section: how-it-work-section
 * ========================================================================== */
